@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.meme_generator .generate_meme_btn {
  border: none;
  border: 1px solid #222;
  border-left: 4px solid #222;
  border-right: 4px solid #222;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  padding: 8px 20px;
  font-size: 20px;
  background: #badc58;
  cursor: pointer;
  margin: 19px 0;
  transition: all 400ms ease;
}
.meme_generator .generate_meme_btn:hover {
  border-left: 8px solid #222;
  border-right: 8px solid #222;
  padding: 8px 40px;
  letter-spacing: 3px;
}

.meme_generator .meme_box {
  width: 26rem;
  height: 35rem;
  border: 5px solid rgba(22, 22, 22, 0.737);
  border-radius: 25px;
  padding: 20px 15px 10px 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.meme_box .meme_title {
  color: #0984e3;
  font-size: 1.8em;
  font-weight: bold;
}

#meme_img {
  width: 22rem;
  height: 24rem;
  margin-top: 30px;
  margin-bottom: 10px;
}
.meme_generator .meme_author {
  margin: 5px;
  font-size: 1.2em;
  font-weight: bold;
  align-self: flex-end;
  padding-right: 8px;
  color: #44bd32;
}
